
.navbar-left {
    border: 1px solid rgba(255,255,255,0.2);
    z-index:999;
    min-height: 100vh;
    width: 50%;
    height: auto;
    position: fixed;
    max-width: 100vw;
    color: #fff;
    background-color: rgb(32, 32, 32);
    min-width: 430px;
    transition: 0.3s ease-in-out all;
    top:0rem;
    left: -20%;
    transform: rotate(15deg);

    .navbar-content, .nav-list-parent, .nav-list {
        display: flex;
        justify-content: center;
        flex-direction: column;        
    }

    .navbar-content {
        padding-top: 8rem;
        padding-left: 2rem;
        font-size: 2rem;
        font-weight: 700;
    }

    .nav-list-parent {
        font-size: 1.2rem;
        position: relative;
        top: -5rem;

        .head {
            font-weight: 600;
            font-size: 1.2rem;
        }

        .nav-list {
            padding: 1rem 0;
            width: 100%;
            position: relative;
            li {
                padding: 0.6rem 0;
                list-style-type: none;

                a {
                    color: wheat;
                    padding: 0.6rem;
                }
            }
        }
    }
}

.nav-content-container {
    min-height: 675px;
    left: 5%;
    display: flex;
    width: 100%;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    position: relative;
    transform: translateY(5rem);
}

.left-links {
    transform: translateX(4.4rem) translateY(2rem);
}

.navbar-left-hide {
    width: 0;
    height: 0;
    position: relative;
    left:-500rem;
    opacity:0;
    transition: 0.3s ease-in-out all;
}

.unskew {
    min-height: 675px;
    transition: 0.3s ease-in-out all;
    transform: rotate(-15deg);
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.skew-cross {
    z-index: 1000;
    position: absolute;
    top:1rem;
    font-size: 2.4rem;
    left: 1rem;
    transition: 0.1s ease-in-out all;
    cursor: pointer;
    padding: .8rem 1.2rem;
    border-radius: 100px;
    border: 2px solid #fff;
}

.skew-cross:hover{
    transform: scale(1.2);
}

.hamburger{
    font-size: 2rem;
    color: wheat;
    position: absolute;
    top:-2rem;
    left:-2rem;
    transition: 0.1s ease-in-out all;
    padding: 3rem 2rem 2rem 3rem;
    border-radius: 100px;
    background-color: cornsilk;
    cursor: pointer;
}

.hamburger:hover {
    transform: scale(1.2);
    padding: 4rem 3.5rem 3.5rem 4rem;
}

@media only screen and (max-width:550px) {
    .navbar-left {
        width: 80%;
        left: -30%;
    }
}
@media only screen and (max-width:230px) {
    .navbar-left {
        left: -80%;
    }
}
@media only screen and (max-height:600px) {
    .nav-content-container {
        transform: translateY(2.5rem);
    }
}
